:root {
  --clr-about-laptop-desktop: hsl(0, 0%, 20%);
  --clr-about-mobile-landscape: hsl(0, 0%, 40%);
  --clr-about-mobile-portrait: hsl(0, 0%, 60%);
  --clr-about-tablet-portrait: hsl(0, 0%, 80%);
  --clr-home-laptop-desktop: hsl(0, 20%, 30%);
  --clr-home-mobile-landscape: hsl(0, 20%, 30%);
  --clr-home-mobile-portrait: hsl(0, 20%, 30%);
  --clr-home-tablet-portrait: hsl(0, 20%, 30%);
  --clr-contact-laptop-desktop: hsl(0, 60%, 20%);
  --clr-contact-mobile-landscape: hsl(0, 60%, 40%);
  --clr-contact-mobile-portrait: hsl(0, 60%, 60%);
  --clr-contact-tablet-portrait: hsl(0, 60%, 80%);
}